body {
	font-family: Helvetica;
	margin: 0 auto;
}

<div id=”gameArea”>
  <canvas id=”gameCanvas”></canvas>
  <div id=”statsPanel”></div>
</div>

#gameArea {
  position: absolute;
  left:     50%;
  top:      50%;
}

canvas {
	border: 5px solid #270201;
}