html,
body {
  	margin: 0 auto;
  	height: 100%;
  	width: 100%;
  	overflow: hidden;
  	position: fixed;
}

.mydiv {
  margin: 0 auto;
  animation: myanimation;
  animation-iteration-count: 1;
  animation-duration: 17s;
}